*.o
*.exe
*.inc
*.f
*.f90
*.mod
*.a
test/em_real/*
test/conus/*
Registry/Registry
configure.wrf
external/io_int/diffwrf
external/io_netcdf/diffwrf
frame/module_dm.F
frame/module_state_description.F
inc/dm_comm_cpp_flags
inc/wrf_io_flags.h
inc/wrf_status_codes.h
run/namelist.input
tools/fseeko64_test
tools/fseeko_test
tools/gen_comms.c
tools/registry
*.backup
compile.log
